/* for loop special pages */

/* Für Inhaltsverzeichnis-bearbeiten-Seite*/
#loopstructure-textarea {
	width: 100%;
	height: 700px;
}
/* Für Literatur-bearbeiten-Seite*/
#required-row label {
	font-weight: bold;
}
.literature-entry {
	text-indent: -1.5rem;
	line-height: 30px;
}
#literature-unreferenced {
	margin-left: -1.5rem;
}
.literature-delete {
	text-indent: initial;
}
.literature-delete:active {
	background-color: initial;
}
.literature-dropdown::after {
	content: none !important;
}