/* for loop special pages */

/* LoopStructureEdit */
#loopstructure-textarea {
	width: 100%;
	height: 700px;
}
/* LoopLiteratureEdit */
#required-row label {
	font-weight: bold;
}
.literature-entry {
	text-indent: -1.5rem;
	line-height: 30px;
}
#literature-unreferenced {
	margin-left: -1.5rem;
}
.literature-delete, .literature-refs {
	text-indent: initial;
}
.literature-delete:active {
	background-color: initial;
}
.literature-dropdown::after {
	content: none !important;
}
/* LoopTerminologyEdit */
#loopterminology-textarea {
	width: 100%;
	height: 500px;
}

.loopterminology-term {
	border-top: 1px dashed @components-color-line;
	padding: 1px 0 0px 0;
    color: @components-color;
}
.loopterminology-definition {
	padding: 0 0 6px 20px;
}
.loopterminology-term:first-of-type {
    border-top: none;
}