/* mostly contains content of #content-wrapper */

#page-content {
	background-color: white;
	word-wrap: break-word;
	hyphens: auto;
}

#content-inner-wrapper{
	background-color: @content-outter-background;
}

#loopsettings-form label {
	display: inline;
}
iframe {
	border: none;
	max-width: 100%;
}
iframe.scale-frame {
	max-width: none;
}
iframe.responsive-frame {
	max-width: 100% !important;
}
.mw-references-wrap {
	margin-top: 10px;
    border-top: 1px solid lighten(@border-color, 10%);
}