/* mostly contains general style definitions */

.viewport {
	max-width: none;
	transform: scale(1);
	transform-origin: 0 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 0 0;
	-ms-transform: scale(1);
	-ms-transform-origin: 0 0;
	margin-bottom: 15px;
}

/* Für Inhaltsverzeichnis-bearbeiten-Seite*/
#loopstructure-textarea {
	width: 100%;
	height: 700px;
}
/* Für Literatur-bearbeiten-Seite*/
#required-row label {
	font-weight: bold;
}