/* mostly contains general style definitions */
.viewport {
	max-width: none;
	transform: scale(1);
	transform-origin: 0 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 0 0;
	-ms-transform: scale(1);
	-ms-transform-origin: 0 0;
	margin-bottom: 15px;
}

a.icon-link:hover {
	text-decoration: none !important;
}
.accent-color {
	color: @accent-color;
}