@import "../variables.less";

@logo-url: "/skins/Loop/resources/styles/loop-oncampus/img/logo-oncampus.png";
@banner-front-url: "/skins/Loop/resources/styles/loop-oncampus/img/header-front.png";
@banner-bg-url: "/skins/Loop/resources/styles/loop-oncampus/img/header-bg.png";

@banner-background: url(@banner-bg-url);
@banner-background-position: 0 0;

@import "../loop.less";