@import "../variables.less";

@logo-url: "https://www.oncampus.de/theme/image.php/ild_oncampus/theme/1543570861/bg/logo";
@banner-front-url: "/skins/Loop/resources/styles/loop-oncampus/img/header-front.png";
@banner-bg-url: "/skins/Loop/resources/styles/loop-oncampus/img/bg-sternenstaub.png";

@banner-background: #213c72;
@banner-background-position: 0 0;
@accent-color: #91185b;
@title-padding: 50px;

@content-outter-background: fade(white, 60%);

@import "../loop.less";

body {
	background-image: url("https://www.oncampus.de/theme/image.php/ild_oncampus/theme/1536846561/bg/bodybg3");
}
#banner-container {
	background: url(@banner-bg-url);
	background-position: left;
	background-size: cover;
}
.mobile-sidebar .panel-wrapper {
	background: white;
}

/* The following rules change the top banner's width to screen size. */
/*
#banner-container {
	max-width: 100% !important;
	padding-right: none !important;
}
#page-searchbar-lg-xl {
	padding-right: 0px !important;
}
#banner-wrapper {
	max-width: 100%;
}
*/
/* The rules above change the top banner's width to screen size. */
