/** *** *** *** *** *** *** ** *** *** **/
/** ***  L O O P   S P O I L E R   *** **/
/** *** *** *** *** *** *** ** *** *** **/

.loopspoiler-container {
    margin-bottom: 1rem;
}

.container_default {
    display: inline;
}

.loopspoilercontainer_transparent {
    display: block;
}

.btn.loopspoiler {
    border: 2px solid @components-color;
}

.loopspoiler_default_content .embedvideowrap,
.loopspoiler_transparent_content .embedvideowrap {
    width: 100% !important;
}

.btn.loopspoiler_type_default {
    background-color: @components-color;
    color: #fff;
}

.btn.loopspoiler_type_transparent {
	background-color: transparent;
	color: @components-color;
}

.loopspoiler_content_wrapper {
	background: #fff;
    display: none;
    padding: 0.75rem 0.75rem;
    border: 2px solid @components-color;
}

.btn.loopspoiler_type_transparent .loopspoiler_content_wrapper {
    margin-bottom: 10px;
}

.btn.loopspoiler_type_default {
	padding: 0px 5px;
}

.btn.spoileractive {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn.loopspoiler_type_transparent {
    transition: none;
    display: block;
}

.btn.spoileractive.loopspoiler_type_transparent,
.btn.spoileractive.loopspoiler_type_transparent:active {
    border-bottom-color: #fff;
    transition: none;
    box-shadow: 0px 4px 0px -2px #fff !important; // forcing because bootstrap is forcing too
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.loopspoiler_type_default.loopspoiler_content_wrapper + p {
    display: inline;
}

.loopspoiler_default_content {
    position: absolute;
    background: #fff;
    border: 2px solid #3f5482;
    padding: .75rem;
    margin-top: -2px;
    margin-right: .75rem;
    box-shadow: 0 2px 7px 0px rgba(63, 84, 130, 0.5);
}

.loopspoiler_transparent_content {
    background: #fff;
    border: 2px solid #3f5482;
    padding: .75rem;
    margin-top: -2px;
    margin-right: .75rem;
}

/* if loop area is inside loop spoiler*/
.loopspoiler_content_wrapper .looparea {
    margin-left: 6rem;
    width: 100%;
}

@media(max-width: 991px) {
    .loopspoiler_content_wrapper .looparea {
        margin: 0 1rem;
        width: ~"calc(100% - 2rem)";
    }
}

@media(max-width: 767px) {
	.loopspoiler_content_wrapper .looparea-container {
        margin-left: -16px;
        margin-right: -16px;
	}
}