.loop_consent {
    background: #4c4c4c;
    padding: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    display: flex;
    align-items: center;
}

.loop_consent_text {
    background: #fff;
    padding: 1rem;
    max-width: 480px;
    margin: 0 auto;
}

.loop_consent .btn-dark {
    color: #fff !important;
}