/** *** *** *** *** *** *** ** *** *** **/
/** ***  L O O P   Personalization   *** **/
/** *** *** *** *** *** *** ** *** *** **/

#personal_notes {
	width:100%;
	margin-bottom: 0.2em;
}
.show_understood .not_edited {
	display: none;
}
.show_understood .page_not_understood {
	display: none;
}
.show_not_edited_filter .page_understood {
	display: none;
}
.show_not_edited_filter .page_not_understood {
	display: none;
}
.show_not_understood_filter .not_edited {
	display: none;
}
.show_not_understood_filter .page_understood {
	display: none;
}

.not_active {
	background-color: white !important;
	color: black !important;
}
#not_understood_button.not_active span:first-child {
	color: @negative-base-color !important;
}

#understood_button.not_active span:first-child{
	color: @positive-base-color !important;
}
#understood_button.not_active span{
	margin: auto auto;
}

.note_text_title .note_text {
	display:none;
}

#not_edited_filter,  #not_edited_button{
	box-shadow: none;
}
#not_understood_filter, #not_understood_button {
	box-shadow: none;
}

#understood_filter, #understood_button {
	box-shadow: none;
}

#not_edited_button, #not_edited_filter {
	border: 2px solid @neutral-base-color;
	background-color: @neutral-accent-color;
	color:white;
	margin-left: 0;
}
#understood_button, #understood_filter {
	border: 2px solid @positive-base-color;
	background-color: @positive-accent-color;
	color:white;
}
#not_understood_button, #not_understood_filter {
	border: 2px solid @negative-base-color;
	background-color:red;
	color:white;
}

#save_note_button {
	border:2px solid @note-color;
	background-color:white;
	float:right;
}

.main {
	display: block;
}

.prog-wrapper {
	display: grid;
	height: 5rem;
	padding: 1rem;
}

.loading-wrapper {
	position: relative;
	max-height: 2rem;
	outline: @accent-color 0.1rem solid;
	display: grid;
}

.loading-bar-prog {
	height: 100%;
	background: @accent-color;
}

.loading-bar {
	height: 100%;
	background: transparent;
	z-index: 1 !important;
}

.loading-contents {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&.loading-contents-left {
		z-index: 3;
		color: @base-color;
	}
	&.loading-contents-right {
		z-index: 2;
		color: @accent-color;
	}
	& .loading-state {
		font-size: 1.25rem;
		font-weight: 400;
	}
}

progress {
	vertical-align: baseline;
}

// shared for buttons
.progress-button {
	border-radius: 0.5rem;
	box-shadow:none;
	padding: 0.25rem;
	font-size: 0.8rem !important;
	min-width:60px;
	font-weight: 600;
	margin: 3px;
}

#save_note_button_img {
	background-image: url(@open-notebook-url);
	background-repeat: no-repeat;
	width:1.1rem;
	height:1.1rem;
	transform: scale(1.3);
	vertical-align: middle;
	display:inline-block;
}

#understood-section {
	margin-top:2rem;
}

textarea {
	overflow: auto;
}

.notebook-row input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.notebook-row label {
	position: relative;
	background-color: @components-background;
	line-height: 22px;
	border: 1px solid @border-color;
	border-bottom: none !important;
}
.notebook-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .35s;
	border: 1px solid @border-color;
	border-top: 0;
	border-bottom: 1px solid @border-color;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: pre-wrap;
}
.notebook-row input:checked ~ .notebook-content {
	max-height: 100%;
}
.notebook-row input[type=checkbox] + label::before {
	content: "\23F5";
	padding-right: 10px;
}
.notebook-row input[type=checkbox]:checked + label::before {
	content: "\23F7";
	padding-right: 10px;
}

#notebook-logo {
	background-image: url(@notebook-url);
	background-repeat: no-repeat;
	height: 2.4rem;
	width: 2.4rem;
	background-position: 0 center;
	display:block;
}

.marked-understood {
	position:relative;
	color: @positive-base-color;

}
.marked-not-understood {
	color:@negative-accent-color;
	position:relative;
}
.marked-not-edited {
	color:@neutral-accent-color;
	position:relative;
}

#extend-all {
	background-image: url(@open-notebook-url);
	background-repeat: no-repeat;
	height: 2.4rem;
	width: 2.4rem;
	background-position: 0 center;
	float:right;
}

.filter_button_panel {
	display:flex;
	float:right;
}

.status-active {
	display:inline !important;
}

.status-saved {
	background-color:@note-accent-color !important;
}

#save_note_button p {
	display:none;
}

.sidebar-progress-marker {
	position: absolute !important;
	right: 0px !important;
	background-color: @sidebar-background;
	z-index:200;
	min-width: 20px;
	text-align: center;
}

#toc-nav a {
	max-width: 215px !important;
	display: inline-block !important;
	overflow: clip !important;
}

.toc-tree li a:after {
	right: 0;
}

.understood_states {
	display: flex;
	width: 100%;
}
#understood-section {
	display: grid;
	width: 100%;
	grid-template-columns: 3fr 1fr;
}

@media (max-width: 990px) {
	.sidebar-progress-marker {
		position: absolute !important;
		right: 20px !important;
		background-color:@sidebar-background;
	}
}
@media (max-width: 600px) {
	.progress_button_responsive_text {
		display:none !important;
	}
}

