/** *** *** *** *** *** *** ** *** *** **/
/** ***  L O O P   S P O I L E R   *** **/
/** *** *** *** *** *** *** ** *** *** **/

.btn.loopspoiler {
    border: 2px solid @components-color;
    padding: 0px 5px;
    line-height: 1.3rem;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
}
.btn.loopspoiler_type_transparent {
	padding: 0px 5px;
}

.btn.loopspoiler_type_default {
    background-color: @components-color;
    color: #fff;
    border-top: 0;
    border-bottom: 0;
}

.btn.loopspoiler_type_transparent {
	background-color: transparent;
    color: @components-color;
    font-weight: 600;
}

.loopspoiler_default_content,
.loopspoiler_transparent_content {
    background: #fff;
    border: 2px solid @components-color;
    padding: .75rem;
    margin-top: -2px;
    margin-bottom: 1.5rem;
    margin-right: .75rem;
    z-index: 1000;
    width:100%;
    overflow-x: auto;
}

/* embed videos */
.loopspoiler_default_content .embedvideowrap,
.loopspoiler_transparent_content .embedvideowrap {
    width: 100% !important;
}

/* math tags */
.loopspoiler .mwe-math-element, .loopspoiler .mw-empty-elt {
    display: none;
}

/* loop areas */
.loopspoiler_content_wrapper .looparea {
    margin-left: 6rem;
    width: 100%;
}

.looparea .loopspoiler_default_content,
.looparea .loopspoiler_transparent_content {
    //width: ~"calc(100% - 8.5rem)";
}

@media(max-width: 991px) {
    .loopspoiler_content_wrapper .looparea {
        margin: 0 1rem;
        width: ~"calc(100% - 2rem)";
    }

    .looparea .loopspoiler_default_content,
    .looparea .loopspoiler_transparent_content {
        width: 100%;
    }
}

@media(max-width: 767px) {
	.loopspoiler_content_wrapper .looparea-container {
        margin-left: -16px;
        margin-right: -16px;
    }
    
    .looparea .loopspoiler_default_content,
    .looparea .loopspoiler_transparent_content,
    .loopspoiler_default_content,
    .loopspoiler_transparent_content {
        //width: ~"calc(100% - 1rem)";
    }
}
