.loopfeedback-bar-stars {
    width: 110px;
}
.loopfeedback-bar .progress {
    width: 130px;
}
.lf-rating-wrapper > label {
    color: @feedback-star-idle;
}
.lf-rating-wrapper.rated > label {
    color: @feedback-star-active;;
}
.lf-rating-wrapper input:checked ~ label {
    color: @feedback-star-idle;
}
.lf-rating-wrapper input:hover ~ label, .lf-rating-wrapper input:hover ~ label ~ label {
    color: @feedback-star-idle !important;
}
.lf-rating-wrapper:hover label {
    color: @feedback-star-hover !important;
}
.lf-colour-idle {
    color: @feedback-star-idle;
}
.lf-colour-active {
    color: @feedback-star-active;
}
#lf_comment {
    font-size: smaller;
    line-height: 1rem;
    height: 4rem;
    overflow-y: hidden;
}
.loopfeedback-star {
    font-size: 1.3rem;
    margin-right: 2px;
}
.lf-rating-wrapper {
    width: 115px;
}