@logo-height: 25px;
@banner-min-height: 120px;

body {
	min-width: 290px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.5em;
}
a {
	color: #d32121;
}

/* FIRST SECTION WITH BANNER, LOGO AND PAGE NAVIGATION */
#banner {
	background-color: #d32121;
}
#loop-title, #loop-title:hover {
	color: white;
	text-decoration: none;
}
#banner-logo-container {
	background: white;	
	min-height: 50px;
}
#logo {
	background-image: url(@logo-url);
	background-repeat: no-repeat;
	height: @logo-height;
	width: auto;	
	margin-top: 11px;
}


#page-navigation-wrapper {
	background-color: rgba(240, 240, 240, 0.6);
	height: 50px;
}
#page-navigation-col .btn-group.float-right {
	margin-right: 1px;	
}

.btn {
	border: 1px solid #ccc;
	color: #4c4c4c;
}
.btn:focus,
.btn:active{
    box-shadow:none !important;
    outline:0px !important;
}
.page-nav-btn{
	border-radius: 2px;
  	padding: 0;
}

.page-nav-btn span,
.page-btm-nav-btn span {
    font-size: 19px; /* sizing loop icons */
}
.btn.disabled span, 
.btn[disabled] span, 
fieldset[disabled] .btn  {
	color: #a0a0a0;
}

.btn-light.disabled, 
.btn-light[disabled], 
fieldset[disabled] .btn-light  {
	background-color: #eff1f2 !important;
	opacity: 1;
	border: 1px solid #ccc;
}

.page-nav-btn {
	min-height: 50px;
	max-width: 60px;
	min-width: 33px; 
	width: 10.7vw;
	margin-right: -1px;
}

/* SECOND SECTION WITH BREADCRUMB, AUDIO BUTTON AND MOBILE SEARCH BAR */

ol.breadcrumb {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: transparent;
}
.breadcrumb li~li:before {
	content: "/";
	padding: 0.5em;
}
.breadcrumb a {
	color: #d32121;
}
#t2s-button {
	cursor: pointer;
	font-size: 1.3em;
}
#t2s-audio {
	display: block;
}
.plyr--audio .plyr__controls {
	padding: 0 !important;
	background: #eff1f2 !important;
	border-radius: 5px !important;
	margin-left: 0 !important;
}
#audio-wrapper .plyr {
	float: right;
}
#audio-wrapper .plyr__volume input[type=range] {
	display: none;
}
.plyr__control {
	padding: 5px !important;
}
.plyr__control[data-playr=play] {
	margin-right: -5px !important;
}
.plyr__control svg {
	height: 14px !important;
}
.plyr__time {
	font-size: 12px !important;
	min-width: 36px !important;
    text-align: right !important;
    margin-right: -5px !important;
}
.plyr__volume {
	margin-right: -12px !important;
}

/* THIRD SECTION WITH PAGE CONTENT, TOC PANEL, EXPORT PANEL AND INFO BUTTONS */
#content-wrapper {
	
}
#page-content {
	background-color: white;
}
#toc-nav {
	overflow-x: hidden;
}
#toc-navigation-wrapper {
	background-color: transparent;
}
#content-inner-wrapper{
	background-color: #f0f0f0; /* todo nav-bg color */
}
#toc-navigation-wrapper .panel-heading,
#export-panel .panel-heading {
	border-top: 3px solid #d32121; /* todo accent color */
	background-color: #f0f0f0;
}
#panel-gradient {
	height: 95%;
	width: 25px;
	margin-top: 13px;
	background: linear-gradient( to right, rgba(240, 240, 240, 0.4), #f0f0f0 );
	position: absolute;
	top: 0;
	right: 0;
}
.mobile-sidebar#toc-navigation-wrapper{
	position: absolute;
	right: 0;
	background-color: transparent;
	padding: 10px;
	z-index: 10;
}
/** *** *** *** ** *** *** **/
/** ***   J S T R E E  *** **/
/** *** *** *** *** *** ** **/

.jstree-themeicon {
	display: none !important;
}
.activeTocPage{
	font-weight: bold;
}
.jstree-anchor.jstree-hovered {
	background: transparent;
	box-shadow: none !important;
}
.jstree-default .jstree-clicked {
    background: rgba(100,100,100,0.1);
}
.jstree-default .jstree-node {
     margin-left: 8px;
}
.jstree-default .jstree-icon:empty {
    width: 18px;
}

/* FOURTH SECTION WITH FOOTER */
#first-footer{
	background-color: rgb(233, 238, 242);
}
#first-footer-content {
	
}
#second-footer{
	background-color: #d32121;
	color: white; /*TODO*/
}
#second-footer-right {
	font-size: 20px;
}
@media all and (max-width: 550px){
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.5em;
	}
}
@media all and (max-width: 767px) and (min-width: 576px){
	 #banner-container, #page-container, #breadcrumb-container {
	 	max-width: 96% !important;
	 	margin-left: 2%;
	 	margin-right: 2%;
	 }
	 #page-navigation-container {
	 	max-width: 100% !important;
	 	margin-left: 0;
	 	margin-right: 0;
	 }
}
@media all and (max-width: 1200px) {
	#toc-nav {
		font-size: 14.5px;
	}
}

@media all and (min-width: 1050px) {
	#banner {
		margin-left: -40px;
		margin-right: -40px;
	}
}
@media all and (min-width: 800px) and (max-width: 991px) {
	#banner {
		margin-left: -40px;
		margin-right: -40px;
	}
}