@font-face {
  font-family: 'loopfont';
  src:  url('fonts/loopfont.eot?e0tzyh');
  src:  url('fonts/loopfont.eot?e0tzyh#iefix') format('embedded-opentype'),
    url('fonts/loopfont.ttf?e0tzyh') format('truetype'),
    url('fonts/loopfont.woff?e0tzyh') format('woff'),
    url('fonts/loopfont.svg?e0tzyh#loopfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'loopfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-rev-unstable:before {
  content: "\e943";
}
.ic-rev-pendingchanges:before {
  content: "\e95f";
}
.ic-text2speech:before {
  content: "\e905";
}
.ic-we-textcolor .path1:before {
  content: "\e91e";
  color: rgb(29, 29, 27);
}
.ic-we-textcolor .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-textbgcolor:before {
  content: "\e95c";
}
.ic-we-signatur:before {
  content: "\e95d";
}
.ic-we-accordion:before {
  content: "\e95e";
}
.ic-we-author .path1:before {
  content: "\e960";
  color: rgb(0, 0, 0);
}
.ic-we-author .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-we-author .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-author .path4:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-gallery:before {
  content: "\e965";
}
.ic-we-link .path1:before {
  content: "\e966";
  color: rgb(0, 0, 0);
}
.ic-we-link .path2:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-link .path3:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-we-link .path4:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-list:before {
  content: "\e96a";
}
.ic-we-math .path1:before {
  content: "\e96b";
  color: rgb(0, 0, 0);
}
.ic-we-math .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-we-math .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-we-numlist:before {
  content: "\e96f";
}
.ic-we-searchreplace:before {
  content: "\e970";
}
.ic-we-shift:before {
  content: "\e971";
}
.ic-home:before {
  content: "\1f3e0";
}
.ic-chapter-previous:before {
  content: "\23ea";
}
.ic-page-previous:before {
  content: "\25c4";
}
.ic-toc:before {
  content: "\1f4d1";
}
.ic-page-next:before {
  content: "\25ba";
}
.ic-chapter-next:before {
  content: "\e904";
}
.ic-preferences:before {
  content: "\e933";
}
.ic-search:before {
  content: "\e93d";
}
.ic-sidebar-menu:before {
  content: "\e93e";
}
.ic-audio:before {
  content: "\e957";
}
.ic-file-pdf:before {
  content: "\e916";
}
.ic-file-mp3:before {
  content: "\e915";
}
.ic-file-epub:before {
  content: "\e913";
}
.ic-file-xml:before {
  content: "\e919";
}
.ic-file-zip:before {
  content: "\e91a";
}
.ic-file-excel:before {
  content: "\e914";
}
.ic-file-word:before {
  content: "\e918";
}
.ic-file-powerpoint:before {
  content: "\e917";
}
.ic-print-area:before {
  content: "\e935";
}
.ic-link-external:before {
  content: "\e925";
}
.ic-literature:before {
  content: "\e92a";
}
.ic-book:before {
  content: "\e900";
}
.ic-edit:before {
  content: "\e90d";
}
.ic-personal-urls:before {
  content: "\e931";
}
.ic-createaccount:before {
  content: "\e908";
}
.ic-login:before {
  content: "\e926";
}
.ic-logout:before {
  content: "\e927";
}
.ic-discussion:before {
  content: "\e90b";
}
.ic-history:before {
  content: "\e91d";
}
.ic-delete:before {
  content: "\e90a";
}
.ic-undelete:before {
  content: "\e94f";
}
.ic-move:before {
  content: "\e929";
}
.ic-protect:before {
  content: "\e936";
}
.ic-watch:before {
  content: "\e953";
}
.ic-unwatch:before {
  content: "\e950";
}
.ic-watchlist:before {
  content: "\e95b";
}
.ic-cache:before {
  content: "\e959";
}
.ic-editmode:before {
  content: "\e90e";
}
.ic-offlinemode:before {
  content: "\e95a";
}
.ic-bug:before {
  content: "\e902";
}
.ic-info:before {
  content: "\e921";
}
.ic-rev-stable:before {
  content: "\e93a";
}
.ic-top:before {
  content: "\e94e";
}
.ic-social-facebook:before {
  content: "\e941";
}
.ic-social-youtube:before {
  content: "\e946";
}
.ic-social-twitter:before {
  content: "\e945";
}
.ic-social-github:before {
  content: "\e942";
}
.ic-social-instagram:before {
  content: "\e944";
}
.ic-annotation:before {
  content: "\e955";
}
.ic-arrangement:before {
  content: "\e956";
}
.ic-citation:before {
  content: "\e906";
}
.ic-definition:before {
  content: "\e909";
}
.ic-example:before {
  content: "\e90f";
}
.ic-exercise:before {
  content: "\e910";
}
.ic-experiment:before {
  content: "\e911";
}
.ic-formula:before {
  content: "\e91b";
}
.ic-important:before {
  content: "\e91f";
}
.ic-indentation:before {
  content: "\e920";
}
.ic-law:before {
  content: "\e922";
}
.ic-learningobjectives:before {
  content: "\e924";
}
.ic-markedsentence:before {
  content: "\e928";
}
.ic-norm:before {
  content: "\e92c";
}
.ic-notice:before {
  content: "\e92d";
}
.ic-practice:before {
  content: "\e932";
}
.ic-question:before {
  content: "\e937";
}
.ic-reflection:before {
  content: "\e939";
}
.ic-we-itelic:before {
  content: "\e92f";
}
.ic-sourcecode:before {
  content: "\e94d";
}
.ic-summary:before {
  content: "\e949";
}
.ic-task:before {
  content: "\e94b";
}
.ic-timerequirement:before {
  content: "\e94c";
}
.ic-table:before {
  content: "\e94a";
}
.ic-figure:before {
  content: "\e912";
}
.ic-animation:before {
  content: "\e954";
}
.ic-click:before {
  content: "\e907";
}
.ic-dragdrop:before {
  content: "\e90c";
}
.ic-rollover:before {
  content: "\e93b";
}
.ic-simulation:before {
  content: "\e93f";
}
.ic-video:before {
  content: "\e951";
}
.ic-media:before {
  content: "\e903";
}
.ic-vimeo:before {
  content: "\e952";
}
.ic-youtube:before {
  content: "\e958";
}
.ic-books:before {
  content: "\e901";
}
.ic-h5p:before {
  content: "\e91c";
}
.ic-learningapp:before {
  content: "\e923";
}
.ic-padlet:before {
  content: "\e92e";
}
.ic-prezi:before {
  content: "\e934";
}
.ic-quizlet:before {
  content: "\e938";
}
.ic-rss:before {
  content: "\e93c";
}
.ic-slideshare:before {
  content: "\e940";
}
.ic-star:before {
  content: "\e948";
}
.ic-ngspice:before {
  content: "\e92b";
}
.ic-we-bold:before {
  content: "\e930";
}
