@font-face {
  font-family: 'loopfont';
  src:  url('fonts/loopfont.eot?d778yp');
  src:  url('fonts/loopfont.eot?d778yp#iefix') format('embedded-opentype'),
    url('fonts/loopfont.ttf?d778yp') format('truetype'),
    url('fonts/loopfont.woff?d778yp') format('woff'),
    url('fonts/loopfont.svg?d778yp#loopfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'loopfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-home:before {
  content: "\e91e";
}
.ic-chapter-previous:before {
  content: "\e905";
}
.ic-page-previous:before {
  content: "\e930";
}
.ic-toc:before {
  content: "\e94d";
}
.ic-page-next:before {
  content: "\e92f";
}
.ic-chapter-next:before {
  content: "\e904";
}
.ic-preferences:before {
  content: "\e933";
}
.ic-search:before {
  content: "\e93d";
}
.ic-sidebar-menu:before {
  content: "\e93e";
}
.ic-audio:before {
  content: "\e957";
}
.ic-file-pdf:before {
  content: "\e916";
}
.ic-file-mp3:before {
  content: "\e915";
}
.ic-file-epub:before {
  content: "\e913";
}
.ic-file-xml:before {
  content: "\e919";
}
.ic-file-zip:before {
  content: "\e91a";
}
.ic-file-excel:before {
  content: "\e914";
}
.ic-file-word:before {
  content: "\e918";
}
.ic-file-powerpoint:before {
  content: "\e917";
}
.ic-print-area:before {
  content: "\e935";
}
.ic-link-external:before {
  content: "\e925";
}
.ic-literature:before {
  content: "\e92a";
}
.ic-book:before {
  content: "\e900";
}
.ic-edit:before {
  content: "\e90d";
}
.ic-personal-urls:before {
  content: "\e931";
}
.ic-createaccount:before {
  content: "\e908";
}
.ic-login:before {
  content: "\e926";
}
.ic-logout:before {
  content: "\e927";
}
.ic-discussion:before {
  content: "\e90b";
}
.ic-history:before {
  content: "\e91d";
}
.ic-delete:before {
  content: "\e90a";
}
.ic-undelete:before {
  content: "\e94f";
}
.ic-move:before {
  content: "\e929";
}
.ic-protect:before {
  content: "\e936";
}
.ic-watch:before {
  content: "\e953";
}
.ic-unwatch:before {
  content: "\e950";
}
.ic-watchlist:before {
  content: "\e95b";
}
.ic-cache:before {
  content: "\e959";
}
.ic-editmode:before {
  content: "\e90e";
}
.ic-offlinemode:before {
  content: "\e95a";
}
.ic-bug:before {
  content: "\e902";
}
.ic-info:before {
  content: "\e921";
}
.ic-revision:before {
  content: "\e93a";
}
.ic-top:before {
  content: "\e94e";
}
.ic-social-facebook:before {
  content: "\e941";
}
.ic-social-youtube:before {
  content: "\e946";
}
.ic-social-twitter:before {
  content: "\e945";
}
.ic-social-googleplus:before {
  content: "\e943";
}
.ic-social-github:before {
  content: "\e942";
}
.ic-social-instagram:before {
  content: "\e944";
}
.ic-annotation:before {
  content: "\e955";
}
.ic-arrangement:before {
  content: "\e956";
}
.ic-citation:before {
  content: "\e906";
}
.ic-definition:before {
  content: "\e909";
}
.ic-example:before {
  content: "\e90f";
}
.ic-exercise:before {
  content: "\e910";
}
.ic-experiment:before {
  content: "\e911";
}
.ic-formula:before {
  content: "\e91b";
}
.ic-important:before {
  content: "\e91f";
}
.ic-indentation:before {
  content: "\e920";
}
.ic-law:before {
  content: "\e922";
}
.ic-learningobjectives:before {
  content: "\e924";
}
.ic-markedsentence:before {
  content: "\e928";
}
.ic-norm:before {
  content: "\e92c";
}
.ic-notice:before {
  content: "\e92d";
}
.ic-practice:before {
  content: "\e932";
}
.ic-question:before {
  content: "\e937";
}
.ic-reflection:before {
  content: "\e939";
}
.ic-sourcecode:before {
  content: "\e947";
}
.ic-summary:before {
  content: "\e949";
}
.ic-task:before {
  content: "\e94b";
}
.ic-timerequirement:before {
  content: "\e94c";
}
.ic-table:before {
  content: "\e94a";
}
.ic-figure:before {
  content: "\e912";
}
.ic-animation:before {
  content: "\e954";
}
.ic-click:before {
  content: "\e907";
}
.ic-dragdrop:before {
  content: "\e90c";
}
.ic-rollover:before {
  content: "\e93b";
}
.ic-simulation:before {
  content: "\e93f";
}
.ic-video:before {
  content: "\e951";
}
.ic-media:before {
  content: "\e903";
  color: #000;
}
.ic-vimeo:before {
  content: "\e952";
}
.ic-youtube:before {
  content: "\e958";
}
.ic-books:before {
  content: "\e901";
}
.ic-h5p:before {
  content: "\e91c";
}
.ic-learningapp:before {
  content: "\e923";
}
.ic-padlet:before {
  content: "\e92e";
}
.ic-prezi:before {
  content: "\e934";
}
.ic-quizlet:before {
  content: "\e938";
}
.ic-rss:before {
  content: "\e93c";
}
.ic-slideshare:before {
  content: "\e940";
}
.ic-star:before {
  content: "\e948";
}
.ic-ngspice:before {
  content: "\e92b";
}
