@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ylab1e');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ylab1e#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?ylab1e') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?ylab1e') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?ylab1e#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-cc-by {
  &:before {
    content: @ic-cc-by; 
  }
}
.ic-cc {
  &:before {
    content: @ic-cc; 
  }
}
.ic-cc-nc {
  &:before {
    content: @ic-cc-nc; 
  }
}
.ic-cc-nd {
  &:before {
    content: @ic-cc-nd; 
  }
}
.ic-cc-pd {
  &:before {
    content: @ic-cc-pd; 
  }
}
.ic-cc-sa {
  &:before {
    content: @ic-cc-sa; 
  }
}
.ic-cc-zero {
  &:before {
    content: @ic-cc-zero; 
  }
}
.ic-buffering {
  &:before {
    content: @ic-buffering; 
  }
}
.ic-rev-unstable {
  &:before {
    content: @ic-rev-unstable; 
  }
}
.ic-rev-pendingchanges {
  &:before {
    content: @ic-rev-pendingchanges; 
  }
}
.ic-text2speech {
  &:before {
    content: @ic-text2speech; 
  }
}
.ic-we-textcolor .path1 {
  &:before {
    content: @ic-we-textcolor-path1;  
    color: rgb(29, 29, 27);
  }
}
.ic-we-textcolor .path2 {
  &:before {
    content: @ic-we-textcolor-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-textbgcolor {
  &:before {
    content: @ic-we-textbgcolor; 
  }
}
.ic-we-signatur {
  &:before {
    content: @ic-we-signatur; 
  }
}
.ic-we-accordion {
  &:before {
    content: @ic-we-accordion; 
  }
}
.ic-we-author .path1 {
  &:before {
    content: @ic-we-author-path1;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-author .path2 {
  &:before {
    content: @ic-we-author-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ic-we-author .path3 {
  &:before {
    content: @ic-we-author-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-author .path4 {
  &:before {
    content: @ic-we-author-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-gallery {
  &:before {
    content: @ic-we-gallery; 
  }
}
.ic-we-link .path1 {
  &:before {
    content: @ic-we-link-path1;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-link .path2 {
  &:before {
    content: @ic-we-link-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-link .path3 {
  &:before {
    content: @ic-we-link-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ic-we-link .path4 {
  &:before {
    content: @ic-we-link-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-list {
  &:before {
    content: @ic-we-list; 
  }
}
.ic-we-math .path1 {
  &:before {
    content: @ic-we-math-path1;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-math .path2 {
  &:before {
    content: @ic-we-math-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.ic-we-math .path3 {
  &:before {
    content: @ic-we-math-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.ic-we-numlist {
  &:before {
    content: @ic-we-numlist; 
  }
}
.ic-we-searchreplace {
  &:before {
    content: @ic-we-searchreplace; 
  }
}
.ic-we-shift {
  &:before {
    content: @ic-we-shift; 
  }
}
.ic-home {
  &:before {
    content: @ic-home; 
  }
}
.ic-chapter-previous {
  &:before {
    content: @ic-chapter-previous; 
  }
}
.ic-page-previous {
  &:before {
    content: @ic-page-previous; 
  }
}
.ic-toc {
  &:before {
    content: @ic-toc; 
  }
}
.ic-page-next {
  &:before {
    content: @ic-page-next; 
  }
}
.ic-chapter-next {
  &:before {
    content: @ic-chapter-next; 
  }
}
.ic-preferences {
  &:before {
    content: @ic-preferences; 
  }
}
.ic-search {
  &:before {
    content: @ic-search; 
  }
}
.ic-sidebar-menu {
  &:before {
    content: @ic-sidebar-menu; 
  }
}
.ic-audio {
  &:before {
    content: @ic-audio; 
  }
}
.ic-file-pdf {
  &:before {
    content: @ic-file-pdf; 
  }
}
.ic-file-mp3 {
  &:before {
    content: @ic-file-mp3; 
  }
}
.ic-file-epub {
  &:before {
    content: @ic-file-epub; 
  }
}
.ic-file-xml {
  &:before {
    content: @ic-file-xml; 
  }
}
.ic-file-zip {
  &:before {
    content: @ic-file-zip; 
  }
}
.ic-file-excel {
  &:before {
    content: @ic-file-excel; 
  }
}
.ic-file-word {
  &:before {
    content: @ic-file-word; 
  }
}
.ic-file-powerpoint {
  &:before {
    content: @ic-file-powerpoint; 
  }
}
.ic-print-area {
  &:before {
    content: @ic-print-area; 
  }
}
.ic-link-external {
  &:before {
    content: @ic-link-external; 
  }
}
.ic-literature {
  &:before {
    content: @ic-literature; 
  }
}
.ic-book {
  &:before {
    content: @ic-book; 
  }
}
.ic-edit {
  &:before {
    content: @ic-edit; 
  }
}
.ic-personal-urls {
  &:before {
    content: @ic-personal-urls; 
  }
}
.ic-createaccount {
  &:before {
    content: @ic-createaccount; 
  }
}
.ic-login {
  &:before {
    content: @ic-login; 
  }
}
.ic-logout {
  &:before {
    content: @ic-logout; 
  }
}
.ic-discussion {
  &:before {
    content: @ic-discussion; 
  }
}
.ic-history {
  &:before {
    content: @ic-history; 
  }
}
.ic-delete {
  &:before {
    content: @ic-delete; 
  }
}
.ic-undelete {
  &:before {
    content: @ic-undelete; 
  }
}
.ic-move {
  &:before {
    content: @ic-move; 
  }
}
.ic-protect {
  &:before {
    content: @ic-protect; 
  }
}
.ic-watch {
  &:before {
    content: @ic-watch; 
  }
}
.ic-unwatch {
  &:before {
    content: @ic-unwatch; 
  }
}
.ic-watchlist {
  &:before {
    content: @ic-watchlist; 
  }
}
.ic-cache {
  &:before {
    content: @ic-cache; 
  }
}
.ic-editmode {
  &:before {
    content: @ic-editmode; 
  }
}
.ic-offlinemode {
  &:before {
    content: @ic-offlinemode; 
  }
}
.ic-bug {
  &:before {
    content: @ic-bug; 
  }
}
.ic-info {
  &:before {
    content: @ic-info; 
  }
}
.ic-rev-stable {
  &:before {
    content: @ic-rev-stable; 
  }
}
.ic-top {
  &:before {
    content: @ic-top; 
  }
}
.ic-social-facebook {
  &:before {
    content: @ic-social-facebook; 
  }
}
.ic-social-youtube {
  &:before {
    content: @ic-social-youtube; 
  }
}
.ic-social-twitter {
  &:before {
    content: @ic-social-twitter; 
  }
}
.ic-social-github {
  &:before {
    content: @ic-social-github; 
  }
}
.ic-social-instagram {
  &:before {
    content: @ic-social-instagram; 
  }
}
.ic-annotation {
  &:before {
    content: @ic-annotation; 
  }
}
.ic-arrangement {
  &:before {
    content: @ic-arrangement; 
  }
}
.ic-citation {
  &:before {
    content: @ic-citation; 
  }
}
.ic-definition {
  &:before {
    content: @ic-definition; 
  }
}
.ic-example {
  &:before {
    content: @ic-example; 
  }
}
.ic-exercise {
  &:before {
    content: @ic-exercise; 
  }
}
.ic-experiment {
  &:before {
    content: @ic-experiment; 
  }
}
.ic-formula {
  &:before {
    content: @ic-formula; 
  }
}
.ic-important {
  &:before {
    content: @ic-important; 
  }
}
.ic-indentation {
  &:before {
    content: @ic-indentation; 
  }
}
.ic-law {
  &:before {
    content: @ic-law; 
  }
}
.ic-learningobjectives {
  &:before {
    content: @ic-learningobjectives; 
  }
}
.ic-markedsentence {
  &:before {
    content: @ic-markedsentence; 
  }
}
.ic-norm {
  &:before {
    content: @ic-norm; 
  }
}
.ic-notice {
  &:before {
    content: @ic-notice; 
  }
}
.ic-practice {
  &:before {
    content: @ic-practice; 
  }
}
.ic-question {
  &:before {
    content: @ic-question; 
  }
}
.ic-reflection {
  &:before {
    content: @ic-reflection; 
  }
}
.ic-we-itelic {
  &:before {
    content: @ic-we-itelic; 
  }
}
.ic-sourcecode {
  &:before {
    content: @ic-sourcecode; 
  }
}
.ic-summary {
  &:before {
    content: @ic-summary; 
  }
}
.ic-task {
  &:before {
    content: @ic-task; 
  }
}
.ic-timerequirement {
  &:before {
    content: @ic-timerequirement; 
  }
}
.ic-table {
  &:before {
    content: @ic-table; 
  }
}
.ic-figure {
  &:before {
    content: @ic-figure; 
  }
}
.ic-animation {
  &:before {
    content: @ic-animation; 
  }
}
.ic-click {
  &:before {
    content: @ic-click; 
  }
}
.ic-dragdrop {
  &:before {
    content: @ic-dragdrop; 
  }
}
.ic-rollover {
  &:before {
    content: @ic-rollover; 
  }
}
.ic-simulation {
  &:before {
    content: @ic-simulation; 
  }
}
.ic-video {
  &:before {
    content: @ic-video; 
  }
}
.ic-media {
  &:before {
    content: @ic-media; 
  }
}
.ic-vimeo {
  &:before {
    content: @ic-vimeo; 
  }
}
.ic-youtube {
  &:before {
    content: @ic-youtube; 
  }
}
.ic-books {
  &:before {
    content: @ic-books; 
  }
}
.ic-h5p {
  &:before {
    content: @ic-h5p; 
  }
}
.ic-learningapp {
  &:before {
    content: @ic-learningapp; 
  }
}
.ic-padlet {
  &:before {
    content: @ic-padlet; 
  }
}
.ic-prezi {
  &:before {
    content: @ic-prezi; 
  }
}
.ic-quizlet {
  &:before {
    content: @ic-quizlet; 
  }
}
.ic-rss {
  &:before {
    content: @ic-rss; 
  }
}
.ic-slideshare {
  &:before {
    content: @ic-slideshare; 
  }
}
.ic-star {
  &:before {
    content: @ic-star; 
  }
}
.ic-ngspice {
  &:before {
    content: @ic-ngspice; 
  }
}
.ic-we-bold {
  &:before {
    content: @ic-we-bold; 
  }
}

