h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.5em;
}

a {
	color: @link-color;
}

a:hover {
	color: darken(@link-color, 10%);
}

b {
	font-weight: bold;
}

@media all and (max-width: 550px){
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}
	
	h4 {
		font-size: 1.5em;
	}
}