p {
	margin-bottom: 0.8rem;
}

h1 {
	font-size: 1.8em;
}
h1#title {
	font-size: 1.6em;
}
h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.4em;
}

h1 .mw-headline {
	font-size: 1.6rem !important;
}

h2 .mw-headline {
	font-size: 1.45rem !important;
}

h3 .mw-headline {
	font-size: 1.3rem !important;
}

h4 .mw-headline {
	font-size: 1.15rem !important;
}

h5 .mw-headline {
	font-size: 1.0rem !important;
}

h6 .mw-headline {
	font-size: 1.0rem !important;
}


a {
	color: @link-color;
}

a:hover {
	color: darken(@link-color, 10%);
}

b {
	font-weight: bold;
}